html
    body
        form
            div.class="form-group"
                label Title:
            div.class="form-group"
                label Description:
                input(type="text" name="description")
            button(type="button") Submit
