html
    body
        p #{success}
        if success
            p successfully added
        if errors && errors.length>0
            each value in errors
                p=value.msg     
        form(action="/api/v1/todos" method="post")
            div.form-group
                label Title:
                input(type="text" value="" name="title")
            div.form-group
                label Description:
                input(type="text" value="" name="description")
            button(type="submit") Submit
